@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header__nav {
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em; }
  .header__nav__left img {
    max-width: 150px; }
  .header__nav__right__list {
    display: flex;
    list-style: none;
    gap: 2em;
    font-size: 1.3em; }
    .header__nav__right__list__item {
      transition: all 0.5s ease; }
      .header__nav__right__list__item a {
        text-decoration: none;
        color: #6b6a6a; }
    .header__nav__right__list__item:hover a {
      color: #b46e6e;
      transition: all 0.5s ease;
      cursor: pointer; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: aliceblue; }

.main__title {
  text-align: center;
  margin: 1em 0; }

.main__subtitle {
  text-align: center;
  margin: 1em 0; }
