.header {
    .navbar {
        background-color: #fbb65e;
        .container-fluid {
            .navbar-brand {
                .navbar-logo {
                    max-width: 100px !important;
                }
            }
        }
    }
    &__section {
        background-image: url('../assets/portada2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        height: 100vh;
        overflow: hidden;
        margin-top: -5px;
        &__arrow {
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
