.header__nav {
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    &__right {
        &__list {
            display: flex;
            list-style: none;
            gap: 2em;
            &__item {
                transition: all 0.5s ease;
                a {
                    text-decoration: none;
                    color: rgb(107, 106, 106);
                }
            }
            &__item:hover a {
                color: rgb(180, 110, 110);
                transition: all 0.5s ease;
                cursor: pointer;
            }
        }
    }
}
