@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import 'reset.scss';
@import 'variables.scss';
@import 'header.scss';
body {
    font-family: 'Montserrat', sans-serif;
    background-color: aliceblue;
}
.carritoAlert {
    position: fixed;
    background-color: rgb(98, 155, 204);
    right: 10px;
    top: 150px;
    z-index: 10;
    color: white;
    border-radius: 10px;
    padding: 0.5em;
    display: none;
    h1 {
        font-size: clamp(1rem, 3vw, 2.5rem);
    }
}
.active {
    display: block;
}
.main {
    &__title {
        text-align: center;
        margin: 1em 0;
        font-size: $h1-size;
    }
    &__subtitle {
        text-align: center;
        margin: 1em 0;
        font-size: $h2-size;
    }
}
