@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import 'reset.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'cards.scss';

body {
    font-family: 'Montserrat', sans-serif;
    background-color: aliceblue;
}
.carritoAlert {
    position: fixed;

    right: 10px;
    top: 50px;
    z-index: 10;

    display: none;
}
.active {
    display: block;
}
.main {
    &__title {
        text-align: center;
        margin: 1em 0;
        font-size: $h1-size;
    }
    &__subtitle {
        text-align: center;
        margin: 1em 0;
        font-size: $h2-size;
    }
}

.libroCheck {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 0.5em;
}
