@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import 'reset.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'cards.scss';

body {
    font-family: 'Montserrat', sans-serif;
    background-color: antiquewhite !important;
}
.carritoAlert {
    position: fixed;

    right: 10px;
    top: 50px;
    z-index: 10;

    display: none;
}
.active {
    display: block;
}
.main {
    &__title {
        text-align: center;
        margin: 1em 0;
        font-size: $h1-size;
    }
    &__subtitle {
        text-align: center;
        margin: 1em 0;
        font-size: $h2-size;
    }
}
.main-us {
    position: relative;
}
.libroCheck {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 0.5em;
}

//Imagenes

.circle {
    width: 500px;
    height: 500px;
    background-color: rgb(202, 163, 163);
    border-radius: 50%;
    position: absolute;
    top: -250px;
    left: -250px;
    z-index: -1;
}

.modal-dialog {
    max-width: 750px !important;
}

.img-fluid {
    max-height: 600px;
}

//Select filtros

.filtros {
    width: 500px !important;
}
